<div>
  <strong> <%= link_to "#{meal.name} has the following", meal_path(meal) %> </strong>
  <ul>
    <% meal.bookings.each do |booking|%>
        <li>
          <%= "#{booking.user.first_name} is booked in for #{booking.date}" %>
          <%= "with #{booking.size}" %> <i class="fa-solid fa-people-group"></i>

          <%= "Total cost $#{booking.price}" %>
        </li>
        <%= render 'bookings/status_button', booking: booking %>
    <% end %>
  </ul>

</div>
