<h1>Create Booking</h1>


<br>
<%= simple_form_for [@meal, @booking], data: { controller: 'flatpickr' } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :date, as: :string, collection: (Date.today)..(Date.today + 30), input_html: { data: { flatpickr_target: "date" } }%>
    <%= f.input :size, collection: (@meal.min_size..@meal.max_size), placeholder: 'Number of guests'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<div>
  <%= link_to "Back to meals", meals_path %>
</div>
