<%# <h1>Rate your meal experience with: <%= @meal.name</h1>  %>
<%# <%= simple_form_for [@meal, @rating] do |f| %>
  <%# <%= f.input :value, collection: 1..5 %>
  <%# <%= f.submit %>
<%# <% end %>
<%= render "meals/new_rating" %>
