
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 p-2 ">
  <div class="card h-100">
      <% if meal.photo.attached? %>
           <%= cl_image_tag meal.photo.key, height: 300, width: 300, crop: :fill%>
        <% else %>
          <% url = 'https://source.unsplash.com/random?' + meal.category.split.join(",") + ' food' %>
          <%= image_tag url, height: 300, width: 300, crop: :fill %>
          <% cloud = Cloudinary::Uploader.upload(url) %>
          <% downloaded_image = Down.download(cloud["url"]) %>
          <% meal.photo.attach(io: downloaded_image  , filename: "#{meal.name}.jpg") %>
          <% url = 'https://source.unsplash.com/random?' + meal.category.split.join(",") + ' food' %>
      <% end %>

    <div id="<%= dom_id meal %>" class="card-body">
      <p class="card-title">
        <strong><%= meal.name %></strong>
      </p>

      <p class="card-text">
        <%= meal.location %>
      </p>

      <p class="card-text">
        <%= meal.category %>
      </p>

      <p>
        <i class="fa-soild fa-dollar-sign"></i><%= meal.price %>
      </p>
      <p>
        <%= meal.size%><i class="fa-solid fa-people-line"></i>
      </p>
      <p>
        <% if meal.average_rating %>
          <%  meal.average_rating.times do %>
            <i class="fa-solid fa-star yellow-star"></i>
          <% end %>
          <%  (5 - meal.average_rating).times do %>
            <i class="fa-regular fa-star yellow-star"></i>
          <% end %>
          <%= "#{meal.ratings.length} Ratings" %>
        <% else %>
          <%= "Unrated" %>
        <% end %>
      </p>

      <p>
        <%= link_to "Show this meal", meal_path(meal), class: "btn btn-primary" %>
      </p>
    </div>
  </div>
  </div>
