  <div class="col-md-4 p-2">
  <div class="card" style="width: 18rem;" >
    <% url = 'https://source.unsplash.com/random?' + meal.category.split.join(",") %>
    <%= image_tag url, height: 300%>
    <div id="<%= dom_id meal %>" class="card-body">
      <p class="card-title">
        <strong><%= meal.name %></strong>
      </p>

      <p class="card-text">
        <%= meal.location %>
      </p>

      <p>
        <i class="fa-soild fa-dollar-sign"></i><%= meal.price %>
        <i class="fa-solid fa-people-line"></i><%= meal.max_size%>
      </p>

      <p>
        <%= link_to "Show this meal", meal_path(meal), class: "btn btn-primary" %>
      </p>
      <p>
      <%= button_to "Edit", 'edit_meal_path(@meal)', class: "btn btn-primary"  %>
      </p>
              <%= link_to "Delete",
                    meal_path(meal),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
  </div>
