  <div class="col-md-4 p-2">
  <div class="card" style="width: 18rem;" >
      <% if meal.photo.attached? %>
           <%= cl_image_tag meal.photo.key, height: 300%>
        <% else %>
          <% url = 'https://source.unsplash.com/random?' + meal.category.split.join(",") + '?food' %>
          <%= image_tag url, height: 300 %>
          <% cloud = Cloudinary::Uploader.upload(url) %>
          <% downloaded_image = Down.download(cloud["url"]) %>
          <% meal.photo.attach(io: downloaded_image  , filename: "#{meal.name}.jpg") %>
          <% url = 'https://source.unsplash.com/random?' + meal.category.split.join(",") + '?food' %>
      <% end %>
    <div id="<%= dom_id meal %>" class="card-body">
      <p class="card-title">
        <strong><%= meal.name %></strong>
      </p>

      <p class="card-text">
        <%= meal.location %>
      </p>

      <p>
        <i class="fa-soild fa-dollar-sign"></i><%= meal.price %>
        <%= meal.size%><i class="fa-solid fa-people-line"></i>
        <br>
        <% total = 0 %>
        <% meal.bookings.each do |book|%>
          <% can_delete = false if book.confirmed? && book.date < Date.today %>
          <% total += 1 if book.pending? %>
        <% end %>
        <%= "#{meal.bookings.length} bookings #{total} still pending" %>

      </p>

      <p>
        <%= link_to "Show this meal", meal_path(meal), class: "btn btn-primary" %>
      </p>
      <p>
      <%= button_to "Edit", edit_meal_path(meal), class: "btn btn-primary"  %>
      </p>
      <% if can_delete =! false %>
        <%= link_to "Delete", meal_path(meal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
  </div>
