<div class="container">
  <div class="d-flex">
      <div class="meal-card">
        <div class="meal-image">
          <% url = 'https://source.unsplash.com/random?' + @meal.category.split.join(",") %>
          <%= image_tag url%>
        </div>
      </div>
    <div class="d-flex flex-column mb-3 p-5">
      <div>
        <h1> <%= @meal.name %> </h1>
        <br>
        <p> <%= @meal.location %> </p>
      </div>

      <h2> <strong> <%= @meal.category %> </strong> </h2>

      <div class ="flex-grow">
        <br>
        <%= @meal.description %>
        <br>
      </div>

      <div>
        <br>
        <br>
        <strong> <%= "$#{@meal.price} per " %><i class="fa-solid fa-user-large"></i> </strong>
      </div>
      <div>
         <%= "for #{@meal.size}" %> <i class="fa-solid fa-people-group"></i>
        <br>
      </div>
      <div>
        <br>
        <br>
        <% if @meal.average_rating %>
          <%  @meal.average_rating.times do %>
            <i class="fa-solid fa-star yellow-star"></i>
          <% end %>
          <%  (5 - @meal.average_rating).times do %>
            <i class="fa-regular fa-star yellow-star"></i>
          <% end %>
          <%= "#{@meal.ratings.length} Ratings" %>
        <% else %>
          <%= "Unrated" %>
        <% end %>
      </div>
      <% if policy(@meal).edit? %>
          <%= link_to "Edit this meal", edit_meal_path(@meal), class: "btn btn-primary margin-top"%>
        <% else %>
          <%= link_to "Book this meal", new_meal_booking_path(@meal), class: "btn btn-primary margin-top" %>
        <% end %>
    </div>
  </div>
  <% if policy(@meal).booking? %>
    <%= render 'bookings/bookings', {meal: @meal} %>
  <% else %>
    <%= render 'bookings/user_bookings', {meal: @meal} %>
  <% end %>
</div>
